.cardBlock {

    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 4px 4px 7px silver, -1px -1px 3px silver;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    color: black;
    text-shadow: none;
}


a {
    padding-left: 3.5%;
    font-size: 2em;
}

.emailLink:link, .emailLink:visited, .emailLink:active {
    color: black;

}



@media screen and (max-width: 60em) {
    .cardBlock {
        width: 90%;
    }
}