 .notecard {
                width: 100%;
                clip-path: circle(30px at 35px 35px);
                overflow: hidden;
            }

            .flippableElement {
                position: absolute;
                display: flex;
                width: 100%;
                height: 95%;
                top: 0px;
                left: 0px;
                box-shadow: 0px 0px 10px 0px silver, inset 0 0 20px 10px silver; /* x-offset y-offset blur-radius spread-radius color */
                transition: transform 2s;
                backface-visibility: hidden;
                justify-content: space-around;
                align-items: center;
                box-sizing: border-box; /* automatically factor in padding when calculating width size */
                cursor: pointer;
                font-size: 2em;
                padding: 15%;
                font-family: 'Open Sans', sans-serif;

            }
            .flippableElement.faceUp {
                transform-style: preserve-3d;
                transform: rotateY(0deg);

            }
            .flippableElement.faceDown {
                transform-style: preserve-3d;
                transform: rotateY(180deg);
            }
            

            #notecardBottom {
                overflow: hidden;
                position: absolute;
                bottom: 0px;
                display: flex;
                width: 100%;
                height: 80px;
                margin: auto;
                justify-content: center;
                background-color: black;
                /* border: solid 10px blue; */
               /* box-shadow: 0px -20px 10px 0px blue;*/
                                box-shadow: 0px 0px 10px 0px gray; //x-offset y-offset blur-radius spread-radius color;
                z-index: 2;
            }
            body {
                margin: 0;
            }
            
            #notecardBottom div:nth-child(2) {
                border-left: 2px solid hsl(0, 0%, 80%);
            }
            
            .menu-item {
                font-family: Tahoma, Geneva, sans-serif;
                font-size: 30px;
                display : flex;
                align-items : center;
                margin: 0px;
                text-decoration: none;
                color: white;
                border-right: 2px solid hsl(0, 0%, 80%);
                padding-left: 3%;
                padding-right: 3%;
                transition: background-color .7s, box-shadow .7s;
                cursor: pointer;
       
            }
            

            
            .menu-item.closeButton {
                position: absolute;
                left: 0px;
                height: 100%;
                padding-right: 3%;
                padding-left: 3%;
                font-size: 2.5em;
            }
            
            @media screen and (min-width: 68.0000001em) {
                /* hover only on regular-sized screens*/
                .menu-item:hover {
                    background-color: hsla(0, 0%, 50%, .2);
                }
            }
            
            @media screen and (max-width: 68em) {
                .menu-item:hover {
                    /* disable hover on mobile devices, since they can't really hover (sometimes it looks weird)*/
                    background-color: none;
                }
            }