* {
    outline: none;
}


           
section {       
    position: absolute;
    top: 30vh;
    right: 0px;
                display: flex;
                align-self: flex-start;
                
                align-items: stretch;
                flex-direction: column;
            }
            
            .title {
                font-size: 3.5em;    

            }

              h1 {
                    font-size: 3em;
                    margin: 0px;
                    /*text-shadow: 1px 1px 3px #565656;*/
                  background-color: rgba(0, 0, 0, 0.5);
                  margin-left: 5vw;
                }

                #learnMoreAboutMeLink {
                    margin: 0px;
                    background-color: rgba(0, 0, 0, 0.5);
                }
                

            input, textarea {
                width: 100%;
                outline: none; /* no ugly chrome outlines */
                font-family: 'Open Sans', sans-serif;
            }

            textarea {
                height: 100px;
            }

                .mainMenuButton.selected {
                    border: 3px solid white;
                    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
                    border-radius: 10px;
                }
                /*
                .contentLine {
                    display: flex;
                    margin-bottom: 10px;
                    margin-top: 3px;
                  align-items: center;

                }*/



  
                #menuBar {
                    position: absolute;
                    padding-top: 5px;
                    padding-left: 5px;
                    top: 0px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0);
                    width: 100%;
                    height: 40px;
                    padding-bottom: 5px;
                    /* offset x, offset y, blur-radius, spread-radius, color */
                }
                



                body {
                    margin: 0px;
                    font-family: 'Open Sans', sans-serif;
                    color: white;
                    background-color: black;
                    /*white-space: nowrap;  no ugly text wrapping if our screen is shrunk */
                        text-shadow: 2px 2px 10px rgba(0,0,0,.7);
                    height: 2000px;
                    overflow-x: hidden;
                }

                body.loadBackgroundImages {
                    background-image:url("../img/airportTerminalHeader.jpg"),
                                    url("../img/boatWaitingHeader.jpg"),
                                    url("../img/palmsHeader.jpg"),
                                    url("../img/runwayHeader.jpg"),
                                    url("../img/santaMonicaHeader.jpg"),
                                    url("../img/SFWindowHeader.jpg"),
                                    url("../img/shockHeader.jpg"),
                                    url("../img/sunsetSiloHeader.jpg")
                }


            a {
                text-decoration: none;
            }
            

                .mainMenuButton {
                    margin-bottom: 6px;
                    display: flex;
                    margin-right: 12px;
                    margin-left: 12px;
                    font-size: 1.25em;
                    transition: font-size 0.5s;
                    padding: 2px;
                }

                .mainMenuButton:hover {
                    font-size: 1.4em;
                }

                #hamburgerMenu {
                    display: none;
                    margin-top: 0px;
                    margin-bottom: 9px;
                    width: 30px;
                    font-size: 25px;
                    padding-right: 20px;
                    /*border: red 3px solid;*/
                    height: 30px;
                    width: 30px;
                }
            

            
            a:link, a:visited, a:active {
                color: white; /* make sure are links don't switch to funky colors */
            }

            .mainContentBox {
                padding-top: 15px;
                white-space: normal;
                padding-right: 20px;
                padding-bottom: 40px;
                background-color: rgba(255,255,255,.5);

            }
            
            .mainContentBox.visible {
                opacity: 1;
                transition: opacity 2.3s;

            }
            
            .mainContentBox.hidden {
                opacity: 0;
                transition: opacity 1.3s;
            }


.psntLogo {
    display: flex;
    margin-right: auto;
    margin-top: 1%;
    font-size: 1.5em;
    border: solid 4px white;
    border-left: solid 20px white;
    border-radius: 10px;
    align-self: flex-end;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

.downArrow {
    display: flex;
    position: absolute;
    width: fit-content;
    bottom: 0px;
    font-size: 4em;
    width: 100%;
    justify-content: center;
    animation-name: downArrowMove;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes downArrowMove {
    0%   {transform: translate(0px, 0px) scale(1,1);}
    5% {transform: translate(0px, -40px) scale(1.3,1.3);}
    10% {transform: translate(0px, 10px) scale(1,1);}
    15%   {transform: translate(0px, 0px) scale(1,1);}
    20%   {transform: translate(0px, 0px) scale(1,1);}
    25% {transform: translate(0px, -40px) scale(1.3,1.3);}
    30% {transform: translate(0px, 10px) scale(1,1);}
    35%   {transform: translate(0px, 0px) scale(1,1);}
}
  
            @media screen and (max-width: 60em) {
                
                /* this media query tries to target tablets */
                .psntLogo {
                    position: relative;
                    top: 180px;
                }

                #menuBar {
                    min-width: 190px;
                    top: -247px;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items:flex-end;
                    background-color: black;
                    height: 290px;
                    transition: transform 1s;
                    overflow: hidden;
                    opacity: 1;
                    z-index: 100;
                    
                }
                
                #menuBar.slideDown {
                   transform: translate(0px, 150px);
                }
                
                #menuBar.slideUp {
                    transform: translate(0px, 0px);
                }
                #hamburgerMenu {
                    display: flex;
                }
                
    
                section {
                    padding-left: 20px;
                    padding-top: 90px;

                }
                
                h1 {
                    font-size: 2em;
                }
  
                .mainContentBox {
                }

                .mainMenuButton {
                    transition: none;
                    padding: 0;
                    border: none;
                    padding-bottom: 3px;
                    padding-right: 11px; /*to match hamburgerMenu*/
                }
                
                .mainMenuButton.selected {
                    border: none;
                    transition: none;

                }
                
                
                .mainMenuButton:hover {
                    border: none;
                    transition: none;
                    font-size: 1.25em;
                }
                
                body {
                    background-size: 68em auto;
                }

            }


.backgroundImage {
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: 100% auto;
    background-repeat: no-repeat;
    


}

