* {
    outline: none;
}          
section {
                padding-top: 200px;
                padding-left: 50px;
                display: flex;
                align-self: flex-start;
                
                align-items: stretch;
                flex-direction: column;
            }
            
            .title {
                font-size: 3.5em;    

            }

              h1 {
                    font-size: 3em;
                    margin: 0px;
                    /*text-shadow: 1px 1px 3px #565656;*/
                  background-color: rgba(0, 0, 0, 0.5);
                }

                #learnMoreAboutMeLink {
                    margin: 0px;
                }
                

            input, textarea {
                width: 100%;
                outline: none; /* no ugly chrome outlines */
                font-family: 'Open Sans', sans-serif;
            }

            textarea {
                height: 100px;
            }

                .mainMenuButton.selected {
                    border-bottom: 3px solid white;
                }
                
                .contentLine {
                    display: flex;
                    margin-bottom: 10px;
                    margin-top: 3px;
                  align-items: center;

                }



  
                #menuBar {
                    position: absolute;
                    top: 0px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0);
                    width: 100%;
                    transition: background-color 1s;
                    /* offset x, offset y, blur-radius, spread-radius, color */
                }
                



                body {
                    margin: 0px;
                    font-family: 'Open Sans', sans-serif;
                    color: white;
                    background-color: black;
                    background-size: cover;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    background-clip: content-box;
                    /*white-space: nowrap;  no ugly text wrapping if our screen is shrunk */
                    background-image:url("../img/airportTerminalHeader.jpg");
                }

                body.loadBackgroundImages {
                    background-image:url("../img/airportTerminalHeader.jpg");
                                    /*url("../img/palmsHeader.jpg"),
                                    url("../img/runwayHeader.jpg"),
                                    url("../img/santaMonicaHeader.jpg"),
                                    url("../img/SFWindowHeader.jpg"),
                                    url("../img/shockHeader.jpg"),*/
                }


            a {
                text-decoration: none;
            }
            
                .mainMenuButton {
                    margin-bottom: 6px;
                    display: flex;
                    margin-right: 12px;
                    margin-left: 12px;
                    font-size: 1.25em;

                    transition: border-bottom 0.5s, font-size 0.5s;
                     border-bottom: 3px solid rgba(0, 0, 0, 0);
                }

                .mainMenuButton:hover {
                    border-bottom: 3px solid white;
                    font-size: 1.4em;
                }

                #hamburgerMenu {
                    margin-top: 10px;
                    margin-bottom: 9px;
                    width: 30px;
                    visibility: hidden;
                    font-size: 25px;
                    padding-right: 20px;
                    /*border: red 3px solid;*/
                    height: 30px;
                    width: 30px;
                }
            

            
            a:link, a:visited, a:active {
                color: white; /* make sure are links don't switch to funky colors */
            }

            .mainContentBox {
                padding-top: 15px;
                white-space: normal;
                max-width: 500px;
                padding-right: 20px;
                padding-bottom: 40px;
            }
            
            .mainContentBox.visible {
                opacity: 1;
                transition: opacity 2.3s;

            }
            
            .mainContentBox.hidden {
                opacity: 0;
                transition: opacity 1.3s;
            }
  
            @media screen and (max-width: 60em) {
                /* this media query tries to target tablets */
                #menuBar {
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items:flex-end;
                    background-color: black;
                }
                #hamburgerMenu {
                    visibility: visible;
                }
                
                section {
                    padding-left: 20px;
                    padding-top: 90px;

                }
                
                h1 {
                    font-size: 2em;
                }
  
                .mainContentBox {
                    max-width: 400px;
                }

                .mainMenuButton {
                    display: none;
                    border: none;
                    transition: none;
                    padding: 0;
                    padding-bottom: 6px;
                    padding-right: 11px; /*to match hamburgerMenu*/
                }
                
                .mainMenuButton.selected {
                    border: none;
                    transition: none;
                    
                }
                
                .mainMenuButton.visible, .mainMenuButton.selected.visible {
                    display: none;    
                }
                
                .mainMenuButton.hidden, mainMenuButton.selected.hidden {
                    display: flex;    
                }
                
                .mainMenuButton:hover {
                    border: none;
                    transition: none;
                }
                
                body {
                    background-size: 68em auto;
                }

            }

            @media screen and (max-width: 30em) {
                                /* this media query tries to target mobile phones */
                body {
                    font-size: .9em
                }
            }